Hey <%= @workout.user.fullname %>,

A trainer has sent you a new workout to accomplish called <%= @workout.name %>

Go to your app to check it out!
<a href="workouts/#{@workout.id}">Click here to go to the workout page!</a>
https://workoutpartner.herokuapp.com
http://workoutpartner.herokuapp.com
