$brown: #5e412f;
$cream: #fcebb6;
$turq: #00a67c;
$ltturq: #66d4b9;
$orange: #f07818;
$ltorange: #f0a830;
$white: #fff;

$navmain: $ltorange;
$navactive: $orange;
$tabdown: $cream;
$font: $brown;

.container {
  background-color: $white;
  border-radius: 20px;
}

.container:not(nav-top),
.container:not(nav-bottom) {
  margin: 10px 30px;
}

.main-title {
  background-color: $white;
  margin: 0;
  padding: 5px 10px;
}

#grad {
  background: -webkit-linear-gradient($turq, $ltturq);
  background: -o-linear-gradient($turq, $ltturq);
  background: -moz-linear-gradient($turq, $ltturq);
  background: linear-gradient($turq, $ltturq);
}

.five-up.nav-top {
  background-color: $navmain;
  padding: 0;
}

.tab-bar dd.active a {
  background-color: scale-color($navmain, $lightness: -6%);
}

.five-up.nav-bottom a {
  background-color: $tabdown;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  height: 40px;
  padding-top: 5px;
}

.five-up.show-for-small a {
  padding-left: 21px;
  padding-right: 21px;
}

.five-up.nav-bottom .active a{
  background-color: scale-color($tabdown, $lightness: -12%);

}

.add-padding,
.add-padding a {
  color: $brown;
  padding-left: 8px;
  padding-right: 8px;
}

.custom-container {
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.has-table {
  padding-bottom: 20px;
}

.example-table {
  font-style: italic;
}
