/* $brown: #3E2723;
$cream: #FFECB3;
$turq: #00BFA5;
$ltturq: #1DE9B6;
$orange: #FFC107;
$ltorange: #FFD54F;
$white: #fff; */
$cyan: #00BCD4;
$dkcyan: #006064;
$orange: #FFCA28;
$ltorange: #FFD54F;
$cream: #FFECB3;

$accent: #2962FF;
$darkest: #1A237E;
$second: #283593;
$third: #303F9F;
$fourth: #3949AB;
$fifth: #3F51B5;
$sixth: #5C6BC0;
$lightest: #E8EAF6;
$lighter: #C5CAE9;

$accent: #FF6F00;
$white: #fff;

$behindtitle: $darkest;
$titlecolor: $white;

$navborder: $accent;
$navmain: $third; // will be darker for active
$navmainfont: $white;
$subnav: $fourth; // will be darker for active
$font: $white;

$oc-bg: $white; // will be darker for active
$oc-label: $white;
$oc-label-bg: $accent;
$oc-link: $accent;

$lowerbg: $lighter;
$upperbg: $lightest;
$background: $sixth;

$header: #fff;
$links: $darkest; // will be darker for active

$formlabel: $font;

$table-odd: $font;
$table-even: $font;
$table-head: $fourth;
$table-head-font: $font;

.container {
  background-color: $background;
  border-radius: 8px;
}

.container:not(nav-top),
.container:not(nav-bottom) {
  margin: 10px 30px;
}

.main-title {
  background-color: $behindtitle;
  margin: 0;
  padding: 5px 10px;

  h1 {
    font-size: 21pt;
  }
}

#grad {
  background: -webkit-linear-gradient($lowerbg, $upperbg);
  background: -o-linear-gradient($lowerbg, $upperbg);
  background: -moz-linear-gradient($lowerbg, $upperbg);
  background: linear-gradient($lowerbg, $upperbg);
}

.top-bar {
  border-top: $navborder solid 4px;
  height: 49px;
}

.five-up.nav-top {
  background-color: $navmain;
  padding: 0;
}

.tab-bar .active a {
  background-color: scale-color($navmain, $lightness: -20%);
}

.tab-bar {
  border-top: $accent solid 3px;
}

.five-up.nav-bottom a {
  background-color: $subnav;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  height: 40px;
  padding: 10px 20px;
}

.five-up.nav-bottom.show-for-small a {
  font-size: 30px;
  height: 50px;
  padding-top: 0;
  :hover {
    color: $accent;
  }
}

.five-up.show-for-small a {
  padding-left: 21px;
  padding-right: 21px;
}

.five-up.nav-bottom .active a{
  background-color: scale-color($subnav, $lightness: -12%);
}

.add-padding,
.add-padding a {
  color: $navmainfont;
  padding-left: 5px;
  padding-right: 8px;
  :hover {
    color: $accent;
  }
}

.custom-container {
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.has-table {
  padding-bottom: 20px;
}

.example-table {
  font-style: italic;
  align: center;
}

.exercise-table {
  align: center;
}

.main-title a {
  color: $titlecolor;
}

.button.round {
  background-color: $navborder;
  color: $navmainfont;
}

.full-width {
  width: 100%;
}

#notice_wrapper {
  background-color: $accent;
}

p.notice {
  background-color: $accent;
  padding: 5px 5px 2px 15px;
}

.flash-alert {
  background-color: $accent;
}

table {
    border-spacing: 0;
}

.exercise-intensity {
  font-style: italic;
  padding-left: 10px;
}

.icon-edit {
  font-size: 30px;

  a:hover {
    color: $accent;
  }
}

.submit-exercise a {
  color: $accent;
  font-size: 50px;
}

.fa-check:before {
  color: $white;
}

.orange {
  color: $accent;
}
ul.off-canvas-list li a:hover {
  color: $white;
}

.workout-container {
  height: 10px;
  width: 100%;
}

.status-boxes {
  display: inline-block;
  width: 3%;
  height: 22px;
  margin: 0;
  padding-right: 0;
  padding: 0;
  margin-right: -5px;
}

.status-index {
  color: navy;
  overflow: visible;
  line-height: 21px;
  z-index: 1;
  position: relative;
  top: -6px;
  padding-left: 5px;
}

.workout-status {
  background-color: $accent;
}

.non-workout-status {
  background-color: $white;
}
