<div class='padding-fifteen'>
  <h1>Users</h1>
  <% if @users.empty? %>
    No users in durrent database.
  <% else %>
    <table class="full-width word-wrap">
      <thead>
        <tr>
          <th>Name</th>
          <th class="hide-for-small">Email</th>
        </tr>
      </thead>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to "#{user.fullname}", trainer_user_path(user) %></td>
          <td th class="hide-for-small"><%= user.email %></td>
        </tr>
      <% end %>
    </table>
    <%= paginate @users %>
  <% end %>
</div>
